version: '3.8'
services:
  server:
    build: ./server
    container_name: server
    ports:
      - '3001:3001'
    volumes:
      - ./server:/app
      - /app/node_modules
  client:
    build: ./client
    container_name: client
    ports:
      - '3000:3000'
    volumes:
      - ./client:/app
      - /app/node_modules
    depends_on:
      - server
